body{
    font-family: 'Roboto', sans-serif;
    min-width: 640px;
}

.header{
    background: #1c1c1c;
    color: #878787;
    font-size: 14px;
    line-height: 2;
    position: fixed;
    width: 100%;
    z-index: 4;
}

.header:not(.header_open) .header__close{
    display: none;
}

.header__container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__navigation{
    display: flex;
    justify-content: space-between;
    width: 442px;
    font-size: 11px;
    margin: -2px 10px 0 0;
}

.header__link{
    display: block;
}

.header__navigation a{
    text-decoration: none;
    transition: all 0.3s;
}

.header__navigation a:hover{
    color: #fff;
    padding: 0 0 2px 0;
    border-bottom: 1px solid #fff;
}

.room{
    position: relative;
    display: block;
    text-decoration: none;
}

.room_big{
    position: relative;
}

.room_big:before, .room_middle:before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to top, #1c1c1c, rgba(28, 28, 28, 0.5));
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.room_small, .room_middle{
    position: relative;
}

.room_small:hover{
    cursor: pointer;
}

.room_small:before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to top, #1c1c1c, rgba(28, 28, 28, 0.5));
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.room_page{
    width: 578px;
}

.room_adriatic{
    background: url("images/rooms/adriatic.png");
    background-size: cover;
}

.room_atelier{
    background: url("images/rooms/atelier.png");
    background-size: cover;
}

.room_piazza{
    background: url("images/rooms/piazza.png");
    background-size: cover;
}

.room_gallery{
    background: url("images/rooms/gallery.png");
    background-size: cover;
}

.room_grand_piazza{
    background: url("images/rooms/grand-piazza.png");
    background-size: cover;
}

.room__title{
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    position: absolute;
}

.room__description{
    background: #fff;
}

.room__subtitle{
    font-family: 'Gilda Display', serif;
    line-height: 0.8;
    color: #000;
}

.room__benefit-item{
    display: flex;
    align-items: center;
}


.room__benefits{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room__text{
    color: #878787;
    width: 87%;
}

.room_border{
    border: 1px solid #f1f1f1;
    color: #878787;
}

.room__rating{
    background: #000;
    color: #fff;
}

.subtitle{
    line-height: 2;
    text-transform: uppercase;
    position: relative;
}

.short-info{
    font-family: 'Gilda Display', serif;
    color: #1c1c1c;
    text-align: center;
}

.footer{
    background: #151515;
    color: #fff;
    font-size: 12px;
}

.footer__menu{
    display: flex;
    justify-content: space-between;
}

.footer__menu a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
    padding: 2px 0 0;

}

.footer__menu a:hover{
    border-bottom: 1px solid #fff;
}

.subtitle_white{
    color: #fff;
}

.title_yellow{
    color: #c19b76;
}

.button{
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    font-weight: 900;
    letter-spacing: 0.85px;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}

.button:focus{
    outline: none;
}

.button:hover{
    border: 2px solid #c19b76;
    background: #c19b76;
    cursor: pointer;
    color: #fff;
}

.button_yellow{
    border: 2px solid #c19b76;
    background: #c19b76;
}

.button_yellow:hover{
    border: 2px solid #c19b76;
    color: #c19b76;
    background: transparent;
}

.button_black{
    border: 2px solid #151515;
    background: #151515;
}

.button_white{
    border: 2px solid #c19b76;
    color: #c19b76;
}

.button_big{
    width: 100%;
}

@media screen and (max-width: 1023px) {

    .header__navigation{
        flex-direction: column;
        text-transform: uppercase;
        text-align: right;
        width: 195px;
        margin: 32px 0 0;
        font-size: 14px;
        padding: 0 8px 0 0;
        transition: all 0.3s;
    }

    .header__navigation li {
        border-bottom: 5px solid #c19b76;
        padding: 0 0 5px 0;
        margin: 3px 0 0 0;
    }

    .header__navigation a{
        color: #fff;
    }

    .header__logo{
        height: 26px;
    }

    .header{
        height: 36px;
        transition: all 0.3s;
    }

    .header:not(.header_open) .header__navigation{
        opacity: 0;
    }

    .header_open .header__navigation {
        opacity: 1;
    }

    .header_open{
        height: 335px;
    }

    .header_open .header__menu{
        display: none;
    }

    .header__container{
        width: 85%;
        padding: 11px 0 0;
    }

    .header__menu{
        position: absolute;
        right: 55px;
        top: 8px;
    }

    .header__close{
        position: absolute;
        right: 58px;
        top: 11px;
    }

    .button{
        padding: 15px 40px;
        font-size: 18px;
        min-width: 52%;
    }

    .subtitle{
        font-size: 18px;
    }

    .rooms_list .room{
        width: 430px;
        height: 187px;
        margin: 0 auto 25px;
    }

    .room__title{
        bottom: 17px;
        left: 22px;
        font-size: 18px;
        letter-spacing: 1.8px;
    }

    .rooms_list .room__description{
        display: none;
    }

    .room__container ul:nth-child(2){
        display: none;
    }

    .short-info{
        margin: 15px 0 12px;
        line-height: 1.7;
    }

    .footer{
        padding: 13px 48px;
        font-size: 16px;
    }

    .footer__menu{
        width: 408px;
    }

    .room__text_list{
        font-size: 16px;
        line-height: 1.5;
        margin: 10px 0 6px;
    }

    .room_border{
        margin: 0 0 20px;
    }
}

@media screen and (min-width: 1024px){
    .header__menu{
        display: none;
    }

    .header__navigation a{
        color: #878787;
    }

    .short-info{
        line-height: 1.8;
        width: 700px;
    }

    .room__text_list{
        margin: 14px 0;
    }

    .room_page{
        height: 281px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .header{
        padding: 17px 0 12px;
    }

    .header__container{
        width: 985px;
        padding: 0 0 0 180px;
        box-sizing: border-box;
    }

    .header__logo{
        width: 122px;
        height: 17px;
    }

    .header__navigation{
        width: 438px;
        margin: -4px 0 0 0;
    }

    .subtitle{
        font-size: 10px;
        letter-spacing: 1.7px;
    }


    .button{
        font-size: 9px;
        padding: 6px 28px;
    }

    .room_big{
        width: 305px;
        height: 132px;
    }

    .room__title{
        bottom: 13px;
        left: 20px;
    }

    .room__description_big{
        padding: 22px 15px 11px;
    }

    .room__subtitle{
        font-size: 16px;
    }

    .room__benefits_small{
        width: 68%;
        font-size: 7px;
        margin: 12px 0 0;
    }

    .room__rating{
        font-size: 8px;
        padding: 3px 5px;
    }

    .room__benefit_user{
        width: 12px;
    }

    .room__benefit_square{
        width: 11px;
    }

    .room__text_main{
        width: 83%;
        margin: 6px 0 8px;
        font-size: 9px;
    }

    .room_small{
        width: 146px;
        height: 132px;
        margin: 0 0 17px 0;
    }

    .short-info{
        font-size: 13.5px;
        margin: 54px auto 43px;
    }

    .footer{
        padding: 18px 35px;
    }

    .footer__menu{
        margin: 0 17%;
    }

    .room_border{
        margin: 0 14px 20px 0;
        width: 198px;
    }

    .room__description_small{
        padding: 14px 15px 24px;
    }

    .room__benefits{
        font-size: 7px;
        margin: 10px 3px 0;
    }

    .room__benefit{
        margin: 0 0 0 8px;
    }

    .room_middle{
        width: 198px;
        height: 133px;
    }

    .room__text{
        font-size: 8px;
        margin: 8px 0;
        line-height: 2.3;
    }

    .room__text_list{
        width: 90%;
    }

    .footer__menu{
        width: 350px;
    }
}

@media screen and (min-width: 1440px) {
    .header{
        padding: 17px 0 10px;
    }

    .header__container{
        width: 880px;
    }

    .header__logo{
        width: 172px;
        height: 25px;
    }

    .header__navigation{
        width: 444px;
        margin: -4px 7px 0 0;
    }

    .subtitle{
        font-size: 10.5px;
        letter-spacing: 1.16px;
    }

    .button{
        font-size: 8.5px;
        padding: 9px 24px;
    }

    .room_big{
        width: 428px;
        height: 185px;
    }

    .room__title{
        bottom: 15px;
        left: 22px;
    }

    .room__description_big{
        padding: 27px 23px;
    }

    .room__subtitle{
        font-size: 22.5px;
    }

    .room__benefits_small{
        width: 60%;
    }

    .room__rating{
        padding: 5px;
        font-size: 8.5px;
    }

    .room__text_main{
        width: 80%;
        margin: 17px 0;
    }

    .room_small{
        width: 203px;
        height: 184px;
        margin: 0 0 25px 0;
    }

    .short-info{
        font-size: 19px;
        margin: 48px auto 40px;
    }

    .footer{
        padding: 28px 22px;
    }

    .footer__menu{
        margin: 0 18.7%;
    }

    .room_border{
        margin: 0 18px 30px 0;
        width: 278px;
    }

    .room__description_small{
        padding: 23px 20px 27px;
    }

    .room__benefits{
        font-size: 10px;
        margin: 12px 0 0;
    }

    .room__benefit{
        margin: 0 0 0 6px;
    }

    .room_middle{
        width: 278px;
        height: 186px;
    }

    .room__benefits_big{
        width: 96%;
    }

    .room__text{
        line-height: 2;
        font-size: 10.5px;
    }

    .footer__menu{
        width: 332px;
    }
}
